/* app style variables */
:root {
  /* Note: naming based on Figma design comments */

  /* neutral colors */
  --clr-blanc: #fbfbf8;
  --clr-gris-tres-pale: #cdccc2;  /* "gris pale" for borders */
  --clr-gris-pale: #b9b7a9;  /* "gris pale" for text */
  --clr-gris-moyen: #74746f;
  --clr-gris-mi-fonce: #4b4b4a;
  --clr-gris-fonce: #353535;

  /* accent colors */
  --clr-beige: #f4f3e7;
  --clr-orange: #ff6a0e;
  --clr-alerte: #ff3b3b;
  --clr-lichen: #a59e20;
  --clr-jaune: #f0ad00;

  --clr-thermometer-mercury: #c9655e;
  --clr-thermometer-background: var(--clr-beige);
  --clr-thermometer-border: var(--clr-blanc);

  --clr-flood: #00C2CB;
  --clr-forest-fire: #EC772E;
  --clr-violent-storm: #E9C900;
  --clr-tornado: #A6A6A6;
  --clr-heat-wave: #DD3535;
  --clr-freezing-rain: #004AAD;
  --clr-storm-winds: #5271FF;


  /* Size variants: from smallest to biggest */
  --sz-30: 4px;
  --sz-50: 6px;
  --sz-100: 8px;
  --sz-200: 9px;
  --sz-300: 10px;
  --sz-400: 12px;
  --sz-600: 16px;
  --sz-700: 24px;
  --sz-800: 26px;
  --sz-900: 32px;

  /* Font weight variants */
  --fw-regular: 500;

  /* Font families */
  --ff-primary: 'Matter';
}

@media only screen and (min-width: 600px) {
  :root {
    --sz-30: 6px;
    --sz-50: 8px;
    --sz-100: 10px;
    --sz-200: 11px;
    --sz-300: 12px;
    --sz-400: 14px;
    --sz-600: 18px;
    --sz-700: 26px;
    --sz-800: 28px;
    --sz-900: 34px;
  }
}

@media only screen and (min-width: 900px) {
  :root {
    --sz-30: 10px;
    --sz-50: 12px;
    --sz-100: 14px;
    --sz-200: 15px;
    --sz-300: 16px;
    --sz-400: 18px;
    --sz-600: 22px;
    --sz-700: 30px;
    --sz-800: 32px;
    --sz-900: 38px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --sz-30: 14px;
    --sz-50: 16px;
    --sz-100: 18px;
    --sz-200: 19px;
    --sz-300: 20px;
    --sz-400: 22px;
    --sz-600: 26px;
    --sz-700: 34px;
    --sz-800: 36px;
    --sz-900: 42px;
  }
}

/* semantic color variables for this project */
:root {
  --color-background: var(--clr-blanc);
  --color-background-accent: var(--clr-beige);

  --color-accent: var(--clr-orange);

  --color-border: var(--clr-gris-tres-pale);

  --color-text: var(--clr-gris-mi-fonce);
  --color-heading: var(--clr-gris-fonce);

  --default-font-size: var(--sz-400);

  --border-radius: 12px;

  --size-map-zoom-control: var(--sz-900);
  --size-map-controls-gap: var(--sz-30);
  --size-map-padding: var(--sz-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.1;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--default-font-size);
  text-rendering: optimizeLegibility;
  letter-spacing: -0.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove button default styling */
button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--clr-gris-moyen);
}