/* app style variables */
:root {
  /* Note: naming based on Figma design comments */

  /* neutral colors */
  --clr-blanc: #fbfbf8;
  --clr-gris-tres-pale: #cdccc2;  /* "gris pale" for borders */
  --clr-gris-pale: #b9b7a9;  /* "gris pale" for text */
  --clr-gris-moyen: #74746f;
  --clr-gris-mi-fonce: #4b4b4a;
  --clr-gris-fonce: #353535;

  /* accent colors */
  --clr-beige: #f4f3e7;
  --clr-orange: #ff6a0e;
  --clr-alerte: #ff3b3b;
  --clr-lichen: #a59e20;

  --clr-thermometer-mercury: #c9655e;
  --clr-thermometer-background: var(--clr-beige);
  --clr-thermometer-border: var(--clr-blanc);

  --clr-flood: #00C2CB;
  --clr-forest-fire: #EC772E;
  --clr-violent-storm: #E9C900;
  --clr-tornado: #A6A6A6;
  --clr-heat-wave: #DD3535;
  --clr-freezing-rain: #004AAD;
  --clr-storm-winds: #5271FF;


  /* Size variants: from smallest to biggest */
  --sz-30: 4px;
  --sz-50: 6px;
  --sz-100: 8px;
  --sz-200: 9px;
  --sz-300: 10px;
  --sz-400: 12px;
  --sz-600: 16px;
  --sz-700: 24px;
  --sz-800: 26px;

  /* Font weight variants */
  --fw-regular: 500;

  /* Font families */
  --ff-primary: 'Matter';
}

/* semantic color variables for this project */
:root {
  --color-background: var(--clr-blanc);
  --color-background-accent: var(--clr-beige);

  --color-accent: var(--clr-orange);

  --color-border: var(--clr-gris-tres-pale);

  --color-text: var(--clr-gris-mi-fonce);
  --color-heading: var(--clr-gris-fonce);

  --size-map-zoom-control: 32px;
  --size-map-controls-gap: var(--sz-30);
  --size-map-padding: var(--sz-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  margin: 0;
  height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.1;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--sz-400);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove button default styling */
button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
