/* app style variables */
:root {
  /* Note: naming based on Figma design comments */

  /* neutral colors */
  --clr-blanc: #fbfbf8;
  --clr-gris-tres-pale: #cdccc2;  /* "gris pale" for borders */
  --clr-gris-pale: #b9b7a9;  /* "gris pale" for text */
  --clr-gris-moyen: #74746f;
  --clr-gris-mi-fonce: #4b4b4a;
  --clr-gris-fonce: #353535;
  --clr-gris-tiede: #E5E3E2;

  /* accent colors */
  --clr-beige: #f4f3e7;
  --clr-orange: #ff6a0e;
  --clr-alerte: #ff3b3b;
  --clr-lichen: #a59e20;
  --clr-jaune: #f0ad00;
  --clr-brun-terreux: #664500;

  --clr-thermometer-background: var(--color-background);
  --clr-thermometer-border: var(--clr-blanc);
  /* IFCHANGE: Change utils/colours.ts as well. */
  --clr-thermometer-low: #99C5DD;
  --clr-thermometer-zero: #E5E3E2;

  --clr-flood: #00A6CA;
  --clr-forest-fire: #EC772E;
  --clr-violent-storm: #D0A200;
  --clr-tornado: #8C8278;
  --clr-heat-wave: #B00C0C;
  --clr-freezing-rain: #005AAD;
  --clr-storm-winds: #5271FF;
  --clr-ticks: #4E2C1A;


  /* Size variants: from smallest to biggest */
  --sz-10: 4px;
  --sz-30: 6px;
  --sz-50: 7px;
  --sz-100: 8px;
  --sz-200: 9px;
  --sz-300: 10px;
  --sz-400: 12px;
  --sz-600: 16px;
  --sz-700: 24px;
  --sz-800: 26px;
  --sz-900: 32px;
  


  /* Sizes that change at certain breakpoints */
  --app-column-gap: 0;
  --timeline-horizontal-padding: var(--sz-200);
  --popup-width: 216px;
  --thermo-current-value-width: calc(var(--sz-900) * 2.8);

  /* Font weight variants */
  --fw-regular: 500;

  /* Font families */
  --ff-primary: 'Matter';
}

@media only screen and (max-width: 599px) {
  :root {
    --app-column-gap: var(--sz-100);
    --timeline-horizontal-padding: var(--sz-600);
    --popup-width: 256px;
    --border-radius: 16px;
  }
}

@media only screen and (min-width: 600px) {
  :root {
    --sz-10: 4px;
    --sz-30: 6px;
    --sz-50: 8px;
    --sz-100: 10px;
    --sz-200: 11px;
    --sz-300: 12px;
    --sz-400: 14px;
    --sz-600: 18px;
    --sz-700: 26px;
    --sz-800: 28px;
    --sz-900: 34px;

    --app-column-gap: var(--sz-100);
    --timeline-horizontal-padding: var(--sz-600);
    --popup-width: 256px;
    --border-radius: 16px;
    --thermo-current-value-width: calc(var(--sz-900) * 3.0);
  }
}

@media only screen and (min-width: 900px) {
  :root {
    --sz-10: 6px;
    --sz-30: 10px;
    --sz-50: 12px;
    --sz-100: 14px;
    --sz-200: 15px;
    --sz-300: 16px;
    --sz-400: 18px;
    --sz-600: 22px;
    --sz-700: 30px;
    --sz-800: 32px;
    --sz-900: 40px;

    --popup-width: 332px;
    --border-radius: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --sz-10: 6px;
    --sz-30: 12px;
    --sz-50: 16px;
    --sz-100: 18px;
    --sz-200: 19px;
    --sz-300: 20px;
    --sz-400: 21px;
    --sz-600: 24px;
    --sz-700: 32px;
    --sz-800: 34px;
    --sz-900: 46px;

    --timeline-horizontal-padding: var(--sz-700);
    --popup-width: 456px;
    --border-radius: 22px;
    --thermo-current-value-width: calc(var(--sz-900) * 2.8);
  }
}

/* semantic color variables for this project */
:root {
  --color-background: var(--clr-beige);
  --color-background-accent: var(--clr-blanc);

  --color-accent: var(--clr-orange);

  --color-border: var(--clr-gris-tres-pale);

  --color-text: var(--clr-gris-mi-fonce);
  --color-heading: var(--clr-gris-fonce);

  --default-font-size: var(--sz-400);

  --size-map-zoom-control: var(--sz-900);
  --size-map-controls-gap: var(--sz-30);
  --size-map-padding: var(--sz-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

html {
  height: min(100%, 100vh);
}

body {
  margin: 0;
  height: 100%;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.1;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--default-font-size);
  text-rendering: optimizeLegibility;
  letter-spacing: -0.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/* Remove button default styling */
button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--clr-gris-moyen);
}
