@import "./base.css";

:root {
  --icon-size: 27px;
  --big-icon-size: calc(var(--icon-size) * 2);
}

#app {
  width: 100%;
  height: 100%;
}

.map-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-top: calc(var(--icon-size) / -2);
  margin-left: calc(var(--icon-size) / -2);
  background-size: var(--icon-size) var(--icon-size);
  opacity: 0.9;
}

.big-map-icon {
  width: var(--big-icon-size);
  height: var(--big-icon-size);
  margin-top: calc(var(--big-icon-size) / -2);
  margin-left: calc(var(--big-icon-size) / -2);
  background-size: var(--big-icon-size) var(--big-icon-size);
  
  border: 2px solid white;
  border-radius:50%;

  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .big-map-icon {
      animation: none;
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	50% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.catastrophe-icon-unknown {
  background-image: url('/icons/attention-highlight.png');
}
.catastrophe-icon-flood {
  background-image: url('/icons/flood.png');
}

.catastrophe-icon-forest_fire {
  background-image: url('/icons/forest_fire.png');
}

.catastrophe-icon-freezing_rain {
  background-image: url('/icons/freezing_rain.png');
}

.catastrophe-icon-heat_wave {
  background-image: url('/icons/heat_wave.png');
}

.catastrophe-icon-storm_winds {
  background-image: url('/icons/storm_winds.png');
}

.catastrophe-icon-tornado {
  background-image: url('/icons/tornado.png');
}

.catastrophe-icon-violent_storm {
  background-image: url('/icons/violent_storm.png');
}

.catastrophe-icon-winter_storm {
  background-image: url('/icons/winter_storm.png');
}

.catastrophe-popup {  
  color: var(--clr-gris-fonce);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1;
}
.catastrophe-popup .leaflet-popup-content-wrapper {
  overflow: hidden;
}

.catastrophe-popup .leaflet-popup-content {
  background-color: var(--clr-beige);
  color: var(--clr-gris-fonce);
}
